# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store

# Enunciados del profesor (no se entrega)
Enunciados/

# Guia explicativa
GUIA_EXPLICATIVA.md

# Enunciados    
actualizacion de enunciados/